<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<!-- meta name="viewport" content="width=device-width, initial-scale=1"/ -->
	<title>list.html</title>
	<!-- css0 and script0 -->
	<th:block th:replace="layout/css::${layout._css_}"></th:block>
	<th:block th:replace="layout/script::${layout._script_}"></th:block>
	<!-- /css0 and script0 -->
</head>

<body>
<!-- header0 -->
<div th:replace="layout/header::${layout._header_}"></div>
<!-- /header0 -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h1>AccessToken > Info</h1>
		</div>
		<br/>
		<!--
		<input id="board_id" type="hidden" th:value="${board?.id}"/>
		<input id="board_create_date" type="hidden" th:value="${board?.createdDate}"/>
		-->
		<table class="table">
			<tr>
				<th style="padding:13px 0 0 15px;">AccessToken</th>
				<td><input id="accessToken" type="text" class="col-md-1 form-control input-sm" value="" readonly="readonly"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Created Date</th>
				<td><input id="createdDate" type="text" class="col-md-1 form-control input-sm" value="" readonly="readonly"/></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		
		<div class="pull-left">
			<a href="/" class="btn btn-default">START</a>
		</div>
		<!--
		<div class="pull-left">
			<a href="/board/list" class="btn btn-default">목록으로</a>
		</div>
		<div class="pull-right">
			<button th:if="!${board?.id}" type="button" class="btn btn-primary" id="insert">저장</button>
			<button th:if="${board?.id}" type="button" class="btn btn-info" id="update">수정</button>
			<button th:if="${board?.id}" type="button" class="btn btn-danger" id="delete">삭제</button>
		</div>
		-->
	</div>
	
	<br/><br/> <br/><br/>
	<!-- /main -->
	
<!-- footer0 -->
<div th:replace="layout/footer::${layout._footer_}"></div>
<!-- /footer0 -->

<script>
	$(function() {
		$.ajax({
			url: "http://localhost:8081/auth/auth",
			type: "POST",
			contentType: "application/json",
			dataType: "json",
			success: function() {
				alert('성공~~');
			},
			error: function() {
				alert('실패!!');
			}
		});
	});
</script>

</body>
</html>