<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>list.html</title>
	<!-- css0 and script0 -->
	<th:block th:replace="layout/css::${layout._css_}"></th:block>
	<th:block th:replace="layout/script::${layout._script_}"></th:block>
	<!-- /css0 and script0 -->
</head>

<body>
<!-- header0 -->
<div th:replace="layout/header::${layout._header_}"></div>
<!-- /header0 -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h1>AccessToken > Info</h1>
		</div>
		<div>
			<h3>Before refresh</h3>
		</div>
		<div>
			<table class="table">
				<tr>
					<th style="padding:13px 0 0 15px;">AccessToken</th>
					<td><input id="accessToken" type="text" class="col-md-1 form-control input-sm" value="" readonly="readonly"/></td>
				</tr>
				<tr>
					<th style="padding:13px 0 0 15px;">Created Date</th>
					<td><input id="createdDate" type="text" class="col-md-1 form-control input-sm" value="" readonly="readonly"/></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="pull-right">
			<button type="button" class="btn btn-info" id="refresh">Refresh</button>
		</div>
		<div>
			<h3>After refresh</h3>
		</div>
		<div>
			<table class="table">
				<tr>
					<th style="padding:13px 0 0 15px;">AccessToken</th>
					<td><input id="accessToken2" type="text" class="col-md-1 form-control input-sm" value="" readonly="readonly"/></td>
				</tr>
				<tr>
					<th style="padding:13px 0 0 15px;">Created Date</th>
					<td><input id="createdDate2" type="text" class="col-md-1 form-control input-sm" value="" readonly="readonly"/></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="pull-left">
			<a href="/" class="btn btn-default">Home</a>
		</div>
	</div>
	
	<br/><br/> <br/><br/>
	<!-- /main -->
	
<!-- footer0 -->
<div th:replace="layout/footer::${layout._footer_}"></div>
<!-- /footer0 -->

<!-- script0 -->
<script>
	$(function() {
		$('#refresh').click(function() {
			$.ajax({
				url: "http://localhost:8081/auth/refresh",
				type: "POST",
				contentType: "application/json",
				dataType: "json",
				success: function(data, status, xhr) {
					//alert('SUCCESS~~' + JSON.stringify(data));
					$('#accessToken2').val(data.accessToken);
					$('#createdDate2').val(data.createdDate);
				},
				error: function() {
					alert('FAIL!!');
				}
			});
		});
		$.ajax({
			url: "http://localhost:8081/auth/auth",
			type: "POST",
			contentType: "application/json",
			dataType: "json",
			success: function(data, status, xhr) {
				//alert('SUCCESS~~' + JSON.stringify(data));
				$('#accessToken').val(data.accessToken);
				$('#createdDate').val(data.createdDate);
			},
			error: function() {
				alert('FAIL!!');
			}
		});
	});
</script>
<!-- /script0 -->


</body>
</html>