<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<!-- meta name="viewport" content="width=device-width, initial-scale=1"/ -->
	<title>list.html</title>
	<!-- css0 and script0 -->
	<th:block th:replace="layout/css::css"></th:block>
	<th:block th:replace="layout/script::script"></th:block>
	<!-- /css0 and script0 -->
</head>

<body>
<!-- header0 -->
<div th:replace="layout/header::header"></div>
<!-- /header0 -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h1>Send &gt; Commit</h1>
		</div>
		<div class="pull-right" style="width:100px;margin:10px 0;">
			<a href="/board" class="btn btn-primary btn-block">등록</a>
		</div>
		<br/><br/><br/>
		<div id="mainHide">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">#</th>
						<th class="col-md-4">제목</th>
						<th class="col-md-3">부제</th>
						<th class="col-md-2">사용자</th>
						<th class="col-md-2">생성 날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="board : ${boardList}">
						<td th:text="${board.id}">#</td>
						<td><a th:href="'/board?id='+${board.id}" th:text="${board.title}">제목</a></td>
						<td th:text="${board.subTitle}">부제</td>
						<td th:text="${board.userId}">사용자</td>
						<td th:text="${board.createdDate} ? ${#temporals.format(board.createdDate,'yyyy-MM-dd HH:mm')} : ${board.createdDate}">생성 날짜</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br/>
		
		<!-- pagination -->
		<nav aria-label="Page navigation" style="text-align:center;">
			<ul class="pagination" th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}">
				<li><a aria-label="Previous" href="/board/list?page=1">&laquo;</a></li>
				<li th:style="${boardList.first} ? 'display:none'">
					<a th:href="@{/board/list(page=${boardList.number})}">&lsaquo;</a>
				</li>

				<li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${boardList.number}+1) ? 'active'">
					<a th:href="@{/board/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
				</li>

				<li th:style="${boardList.last} ? 'display:none'">
					<a th:href="@{/board/list(page=${boardList.number}+2)}">&rsaquo;</a>
				</li>
				<li><a aria-label="Next" th:href="@{/board/list(page=${boardList.totalPages})}">&raquo;</a></li>
			</ul>
		</nav>
		<div style="text-align:center;">
			(<th:block th:text="${boardList.number}+1"/> / <th:block th:text="${boardList.totalPages}"/>)
		</div>
		<!-- /Pagination -->
	</div>
	<br/><br/> <br/><br/>
	<!-- /main -->
	
<!-- footer0 -->
<div th:replace="layout/footer::footer"></div>
<!-- /footer0 -->
</body>
</html>