<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>form.html</title>
	<!-- css and script -->
	<th:block th:replace="layout/css::css1"></th:block>
	<th:block th:replace="layout/script::script1"></th:block>
	<!-- /css and script -->
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header2"></div>
	<!-- /header -->
	
	<!-- main -->
	<div class="container">
		<div class="page-header">
			<h1>LNS01 Form</h1>
		</div>
		<br/>
		<input id="lns01_id" type="hidden" th:value="${lns01?.id}"/>
		<input id="lns01_create_date" type="hidden" th:value="${lns01?.createdDate}"/>
		<table class="table">
			<tr>
				<th style="padding:13px 0 0 15px;">생성날짜</th>
				<td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly" th:value="${lns01?.createdDate} ? ${#temporals.format(lns01.createdDate,'yyyy-MM-dd HH:mm')} : ${lns01?.createdDate}"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Title</th>
				<td><input id="lns01_title" th:value="${lns01?.title}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Content</th>
				<td><input id="lns01_content" th:value="${lns01?.content}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">User Id</th>
				<td><input id="lns01_userId" th:value="${lns01?.userId}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Request Url</th>
				<td><input id="lns01_reqUrl" th:value="${lns01?.reqUrl}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Request Version</th>
				<td><input id="lns01_reqVer" th:value="${lns01?.reqVer}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Request Path</th>
				<td><input id="lns01_reqPath" th:value="${lns01?.reqPath}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Request Method</th>
				<td><input id="lns01_reqMethod" th:value="${lns01?.reqMethod}" type="text" class="col-md-1 form-control input-sm"/></td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Request Parameters</th>
				<td><textarea id="lns01_reqParameters" class="col-md-1 form-control input-sm" rows="50" style="height:100px;"></textarea><span class="help-block"></span></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button id="btnModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">TEST</button>
				</td>
			</tr>
			<tr>
				<th style="padding:13px 0 0 15px;">Response Json</th>
				<td><textarea id="lns01_resRetJson" class="col-md-1 form-control input-sm" rows="50" style="height:100px;"></textarea><span class="help-block"></span></td>
			</tr>
			<tr class="hide">
				<th style="padding:13px 0 0 15px;">Response Stresm</th>
				<td><textarea id="lns01_resRetStream" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height:100px;"></textarea><span class="help-block"></span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>
		<div class="pull-left">
			<a th:href="@{/lns01/list}" class="btn btn-default">LIST</a>
			<button id="btnModal" type="button" class="btn btn-primary hide" data-toggle="modal" data-target="#myModal">TEST</button>
		</div>
		<div class="pull-right">
			<button th:if="!${lns01?.id}" type="button" class="btn btn-primary" id="insert">SAVE</button>
			<button th:if="${lns01?.id}" type="button" class="btn btn-info" id="update">UPDATE</button>
			<button th:if="${lns01?.id}" type="button" class="btn btn-danger" id="delete">DELETE</button>
		</div>
	</div>
	<br/><br/>
	<br/><br/>
	<!-- /main -->
	
	<!-- footer -->
	<div th:replace="layout/footer::footer1"></div>
	<!-- /footer -->
	
	<!-- Modal dialog -->
	<div class="modal fase" id="myModal">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
			
				<!-- Modal Header -->
				<div class="modal-header bg-success">
					<h4 class="modal-title">LNS01 Test</h4>
					<!-- button type="button" class="close" data-dismiss="modal">&times;</button -->
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
					<table class="table">
						<tr>
							<th style="padding:13px 0 0 15px;">Title</th>
							<td><input id="modal_title" value="" readonly="readonly" type="text" class="col-md-1 form-control input-sm"/></td>
						</tr>
						<tr>
							<th style="padding:13px 0 0 15px;">Request URL</th>
							<td><input id="modal_reqUrl" value="" readonly="readonly" type="text" class="col-md-1 form-control input-sm"/></td>
						</tr>
						<tr>
							<th style="padding:13px 0 0 15px;">Request Parameters</th>
							<td><textarea id="modal_reqParameters" readonly="readonly" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height:100px;"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<button id="btnTransfer" type="button" class="btn btn-primary">Transfer</button>
								<button id="btnCopyRequest" type="button" class="btn btn-primary">Copy Request</button>
								<button id="btnCopyResponse" type="button" class="btn btn-primary">Copy Response</button>
							</td>
						</tr>
						<tr>
							<th style="padding:13px 0 0 15px;">Response Json</th>
							<td><textarea id="modal_resRetJson" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height:100px;"></textarea></td>
						</tr>
					</table>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer bg-success">
					<button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			
			</div>
		</div>
	</div>
	<!-- /Modal dialog -->
	
	<!-- script -->
	<script th:inline="javascript">
		// document.ready
		var json = /*[[${lns01?.reqParameters}]]*/;
		//if (true) console.log(">>>>> json = " + json);
		$('#lns01_reqParameters').val(JSON.stringify(JSON.parse(json), null, 2));
	</script>
	<script>
		$('#btnModal').click(function() {
			//alert('Hello btnModal');
			$('#modal_title').val($('#lns01_title').val());
			$('#modal_reqUrl').val($('#lns01_reqUrl').val() + $('#lns01_reqVer').val() + $('#lns01_reqPath').val());
			var jsonParameters = JSON.stringify(JSON.parse($('#lns01_reqParameters').val()), null, 2);
			$('#modal_reqParameters').val(jsonParameters);
			$('#modal_resRetJson').val('');
		});
		$('#btnTransfer').click(function() {
			//alert('Hello btnTransfer');
			$.ajax({
				url: $('#modal_reqUrl').val(),
				type: "POST",
				data: $('#modal_reqParameters').val(),
				contentType: "application/json",
				header: {
					"Authorization": "Basic " + btoa("kiea" + ":" + "test")
				},
				dataType: "json",
				success: function(data, status) {
					$('#modal_resRetJson').val(JSON.stringify(data, null, 2));
					//alert('송신 성공~~');
					//alert('송신 성공~~' + $('#modal_resRetJson').val());
					//location.href = _contextPath_ + '/lns01/list';
				},
				error: function() {
					alert('송신 실패!!');
				}
			});
		});
		$('#btnClose').click(function() {
			//alert('Hello btnClose');
			$('#lns01_resRetJson').val($('#modal_resRetJson').val());
		});
		$('#btnCopyRequest').click(function() {
			//alert('Hello btnCopyRequest');
			var copyText = document.getElementById("modal_reqParameters");
			copyText.select();
			copyText.setSelectionRange(0, 99999);
			document.execCommand("copy");
		});
		$('#btnCopyResponse').click(function() {
			//alert('Hello btnCopyResponse');
			var copyText = document.getElementById("modal_resRetJson");
			copyText.select();
			copyText.setSelectionRange(0, 99999);
			document.execCommand("copy");
		});
	</script>
	<script th:if="!${lns01?.id}">
		$('#insert').click(function() {
			var jsonData = JSON.stringify({
				title: $('#lns01_title').val(),
				content: $('#lns01_content').val(),
				userId: $('#lns01_userId').val(),
				reqUrl: $('#lns01_reqUrl').val(),
				reqVer: $('#lns01_reqVer').val(),
				reqPath: $('#lns01_reqPath').val(),
				reqMethod: $('#lns01_reqMethod').val(),
				reqParameters: $('#lns01_reqParameters').val(),
				resRetJson: $('#lns01_resRetJson').val(),
				resRetStream: $('#lns01_resRetStream').val()
			});
			$.ajax({
				url: _contextPath_ + "/api/lns01s/",
				type: "POST",
				data: jsonData,
				contentType: "application/json",
				header: {
					"Authorization": "Basic " + btoa("kiea" + ":" + "test")
				},
				dataType: "json",
				success: function() {
					alert('저장 성공~~');
					location.href = _contextPath_ + '/lns01/list';
				},
				error: function() {
					alert('저장 실패!!');
				}
			});
		});
	</script>
	<script th:if="${lns01?.id}">
		$('#update').click(function() {
			var jsonData = JSON.stringify({
				title: $('#lns01_title').val(),
				content: $('#lns01_content').val(),
				userId: $('#lns01_userId').val(),
				reqUrl: $('#lns01_reqUrl').val(),
				reqVer: $('#lns01_reqVer').val(),
				reqPath: $('#lns01_reqPath').val(),
				reqMethod: $('#lns01_reqMethod').val(),
				reqParameters: $('#lns01_reqParameters').val(),
				resRetJson: $('#lns01_resRetJson').val(),
				resRetStream: $('#lns01_resRetStream').val(),
				createdDate: $('#lns01_create_date').val()
			});
			$.ajax({
				url: _contextPath_ + "/api/lns01s/" + $('#lns01_id').val(),
				type: "PUT",
				data: jsonData,
				contentType: "application/json",
				dataType: "json",
				success: function() {
					alert('수정 성공~~');
					location.href = _contextPath_ + '/lns01/list';
				},
				error: function() {
					alert('수정 실패!!');
				}
			});
		});
		$('#delete').click(function() {
			$.ajax({
				url: _contextPath_ + "/api/lns01s/" + $('#lns01_id').val(),
				type: "DELETE",
				success: function() {
					alert('삭제 성공~~');
					location.href = _contextPath_ + '/lns01/list';
				},
				error: function() {
					alert('삭제 실패!!');
				}
			});
		});
	</script>
</body>
</html>