<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">




<!-- footer0 -->
<div th:fragment="footer0">
	<footer class="footer">
		<div class="container">
			<p>Copyright 2020 TAIN Inc. All Right Reserved. Designed by Kiea</p>
		</div>
	</footer>
</div>
<!-- /footer0 -->


<!-- footer1 -->
<th:block th:fragment="footer1">
	<footer class="footer">
		<div class="container">
			<p>Copyright 2020 TAIN Inc. All Right Reserved. Designed by Kiea</p>
		</div>
	</footer>
</th:block>
<!-- /footer1 -->




</html>