<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<!-- home1 -->
<th:block th:fragment="home1">
	<!-- main -->
	<div class="container">
		<br/><br/>
		<div class="jumbotron">
			<h1>Hello, LNS World~~.</h1>
			<p>
				Have a happy time with us. If you want, push the button 'START'.
			</p>
			<p align="right">
				<a class="btn btn-primary btn-lg" href="/board/list">START</a>
			</p>
		</div>
	</div>
	<!-- /main -->
</th:block>
<!-- /home1 -->


<!-- home2 -->
<th:block th:fragment="home2">
	<!-- main -->
	<div class="container">
		<br/><br/>
		<div class="jumbotron">
			<h1>Hello, LNS World~~.</h1>
			<p>
				Have a happy time with us. If you want, push the button 'START'.
			</p>
			<p align="right">
				<a class="btn btn-primary btn-lg" href="/">START</a>
			</p>
		</div>
	</div>
	<!-- /main -->
</th:block>
<!-- /home2 -->



</html>