<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">
	<!-- script -->
	<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" -->
	<!-- jQuery library -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- Popper JS -->
	<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script -->
	<!-- Latest compiled JavaScript -->
	<!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script -->
	<!-- /script -->
</th:block>

</html>
