<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<!-- header1 -->
<div th:fragment="header1">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">LNS System</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li class="hide"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- /header1 -->



<!-- header2 -->
<div th:fragment="header2">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a th:href="@{/}" class="navbar-brand" style="text-decoration:none;">
					<img th:src="@{/images/spring_boot_gray.png}" class="img-rounded" style="display:inline-block;height:100%;margin-right:5px;" />
					<span style="vertical-align:middle;">LNS System (v0.3)</span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- navbar menu -->
				<ul class="nav navbar-nav navbar-left">
					<li><a data-target="#myArchModal" data-toggle="modal" href="#">Architecture</a></li>
					<li class="dropdown hide">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Test<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/board/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Board</a></li>
							<li><a th:href="@{/stmt/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Stmt</a></li>
							<li><a th:href="@{/kuser/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Kuser</a></li>
							<li class="divider"></li>
							<li><a href="#"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Order</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Lightnet<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<!-- -->
							<li><a th:href="@{/line/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Line</a></li>
							<!-- -->
							<li><a th:href="@{/adapter/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Adapter</a></li>
							<li><a th:href="@{/lns01/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Lns01</a></li>
							<li><a th:href="@{/link/list}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Link</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/tools/tranJsonNormalPretty}"><span class="glyphicon glyphicon-list-all"></span>&nbsp;Tran JSON (Normal&lt;-&gt;Pretty)</a></li>
						</ul>
					</li>
					<li class="hide"><a href="/sample05/">Statistic</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- Modal dialog -->
	<div class="modal fase" id="myArchModal">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
			
				<!-- Modal Header -->
				<div class="modal-header bg-success">
					<h4 class="modal-title">LNS Architecture</h4>
					<!-- button type="button" class="close" data-dismiss="modal">&times;</button -->
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
					<img th:src="@{/images/architecture.png}" class="img-rounded img-responsive">
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer bg-success">
					<button id="btnClose" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			
			</div>
		</div>
	</div>
	<!-- /Modal dialog -->
	
</div>
<!-- /header2 -->



</html>